body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    display: block;
    height: 100px;
}

.gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

svg {
    height: 40px;
    width: 40px;
}