body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



button {
    display: block;
    /* height: 100px; */
    background-color: #00a3e0;
    border: 1px solid white;
}

button.top-left {
    border-top-left-radius: 10px;
}

button.top-right {
    border-top-right-radius: 10px;
}

button.bottom-left {
    border-bottom-left-radius: 10px;
}
button.bottom-right {
    border-bottom-right-radius: 10px;
}

.gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 40vw;
    height: 80vh;
    margin: 0 auto;
}

svg {
    height: 50px;
    width: 50px;
    fill: white;
}

.winner-message {
    display: none;
}

.restart-btn {
    display: none;
}